{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">0.25%", "not ie 11", "not op_mini all"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    [
      "@babel/proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "styled-jsx/babel",
      {
        "plugins": ["styled-jsx-plugin-sass"]
      }
    ],
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-transform-runtime",
    "transform-remove-console"
  ]
}
