// color
@primary-color: #aa11ff;
@error-color: #ff4444;
@text-color: rgba(0, 0, 0, 0.65);
@background-color-light: hsv(0, 0, 98%);
@background-color-base: hsv(0, 0, 96%);
@white: #fff;
@black: #000;

@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-sm: 12px;
@line-height-base: 1.5715;

// border
@border-radius-base: 3px;
@border-width-base: 1px;
@border-style-base: solid;
@border-color-split: #F0F0F0;

// button
@btn-font-weight: 400;
@btn-primary-color: @white;
@btn-primary-background: @primary-color;
@btn-border-radius: @border-radius-base;
@btn-border-width: @border-width-base;
@btn-border-style: @border-style-base;
@btn-danger-color: #fff;
@btn-danger-bg: @error-color;
@btn-danger-border: @error-color;

// card

@card-background: @white;
@card-radius: @border-radius-base;
@card-head-color: rgba(0, 0, 0, 0.8);
@card-head-background: transparent;
@card-head-font-size: @font-size-lg;
@card-head-padding: 16px;
@card-head-height: 48px;
@card-inner-head-padding: 12px;
@card-padding-base: 24px;
@card-actions-background: @background-color-light;
@card-actions-li-margin: 12px 0;
@card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
@card-head-tabs-margin-bottom: -17px;

// link
@link-color: @primary-color;
